<?php
/**
 * OptimisationsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Analytics
 *
 * This API will help you to manage the tracking of your clicks and your sales, get reporting on this trackings and put in place rules based on this reporting to automatically optimize your channel catalogs. \\ Also, you will be able to consult the rule execution reporting.
 *
 * OpenAPI spec version: 2.0
 * Contact: support@beezup.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * OptimisationsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class OptimisationsApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return OptimisationsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation optimise
     *
     * Optimise products
     *
     * @param string $store_id Your store identifier (required)
     * @param string $action_name  (required)
     * @param \Swagger\Client\Model\OptimiseRequest $request  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function optimise($store_id, $action_name, $request)
    {
        list($response) = $this->optimiseWithHttpInfo($store_id, $action_name, $request);
        return $response;
    }

    /**
     * Operation optimiseWithHttpInfo
     *
     * Optimise products
     *
     * @param string $store_id Your store identifier (required)
     * @param string $action_name  (required)
     * @param \Swagger\Client\Model\OptimiseRequest $request  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function optimiseWithHttpInfo($store_id, $action_name, $request)
    {
        // verify the required parameter 'store_id' is set
        if ($store_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $store_id when calling optimise');
        }
        // verify the required parameter 'action_name' is set
        if ($action_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $action_name when calling optimise');
        }
        // verify the required parameter 'request' is set
        if ($request === null) {
            throw new \InvalidArgumentException('Missing the required parameter $request when calling optimise');
        }
        // parse inputs
        $resourcePath = "/{storeId}/optimisations/{actionName}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($store_id !== null) {
            $resourcePath = str_replace(
                "{" . "storeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($store_id),
                $resourcePath
            );
        }
        // path params
        if ($action_name !== null) {
            $resourcePath = str_replace(
                "{" . "actionName" . "}",
                $this->apiClient->getSerializer()->toPathValue($action_name),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($request)) {
            $_tempBody = $request;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/{storeId}/optimisations/{actionName}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\BeezUPCommonErrorResponseMessage', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation optimiseByCategory
     *
     * Optimise products's category
     *
     * @param string $store_id Your store identifier (required)
     * @param string $catalog_category_id The category identifier concerned by this optimisation (required)
     * @param string $action_name  (required)
     * @param string[] $request The channel identifier list concerned by this optimisation (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function optimiseByCategory($store_id, $catalog_category_id, $action_name, $request = null)
    {
        list($response) = $this->optimiseByCategoryWithHttpInfo($store_id, $catalog_category_id, $action_name, $request);
        return $response;
    }

    /**
     * Operation optimiseByCategoryWithHttpInfo
     *
     * Optimise products's category
     *
     * @param string $store_id Your store identifier (required)
     * @param string $catalog_category_id The category identifier concerned by this optimisation (required)
     * @param string $action_name  (required)
     * @param string[] $request The channel identifier list concerned by this optimisation (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function optimiseByCategoryWithHttpInfo($store_id, $catalog_category_id, $action_name, $request = null)
    {
        // verify the required parameter 'store_id' is set
        if ($store_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $store_id when calling optimiseByCategory');
        }
        // verify the required parameter 'catalog_category_id' is set
        if ($catalog_category_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $catalog_category_id when calling optimiseByCategory');
        }
        // verify the required parameter 'action_name' is set
        if ($action_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $action_name when calling optimiseByCategory');
        }
        // parse inputs
        $resourcePath = "/{storeId}/optimisations/bycategory/{catalogCategoryId}/{actionName}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($store_id !== null) {
            $resourcePath = str_replace(
                "{" . "storeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($store_id),
                $resourcePath
            );
        }
        // path params
        if ($catalog_category_id !== null) {
            $resourcePath = str_replace(
                "{" . "catalogCategoryId" . "}",
                $this->apiClient->getSerializer()->toPathValue($catalog_category_id),
                $resourcePath
            );
        }
        // path params
        if ($action_name !== null) {
            $resourcePath = str_replace(
                "{" . "actionName" . "}",
                $this->apiClient->getSerializer()->toPathValue($action_name),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($request)) {
            $_tempBody = $request;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/{storeId}/optimisations/bycategory/{catalogCategoryId}/{actionName}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\BeezUPCommonErrorResponseMessage', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation optimiseByChannel
     *
     * Optimise products's category
     *
     * @param string $store_id Your store identifier (required)
     * @param string $channel_id The channel identifier concerned by this optimisation (required)
     * @param string $action_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function optimiseByChannel($store_id, $channel_id, $action_name)
    {
        list($response) = $this->optimiseByChannelWithHttpInfo($store_id, $channel_id, $action_name);
        return $response;
    }

    /**
     * Operation optimiseByChannelWithHttpInfo
     *
     * Optimise products's category
     *
     * @param string $store_id Your store identifier (required)
     * @param string $channel_id The channel identifier concerned by this optimisation (required)
     * @param string $action_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function optimiseByChannelWithHttpInfo($store_id, $channel_id, $action_name)
    {
        // verify the required parameter 'store_id' is set
        if ($store_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $store_id when calling optimiseByChannel');
        }
        // verify the required parameter 'channel_id' is set
        if ($channel_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $channel_id when calling optimiseByChannel');
        }
        // verify the required parameter 'action_name' is set
        if ($action_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $action_name when calling optimiseByChannel');
        }
        // parse inputs
        $resourcePath = "/{storeId}/optimisations/bychannel/{channelId}/{actionName}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($store_id !== null) {
            $resourcePath = str_replace(
                "{" . "storeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($store_id),
                $resourcePath
            );
        }
        // path params
        if ($channel_id !== null) {
            $resourcePath = str_replace(
                "{" . "channelId" . "}",
                $this->apiClient->getSerializer()->toPathValue($channel_id),
                $resourcePath
            );
        }
        // path params
        if ($action_name !== null) {
            $resourcePath = str_replace(
                "{" . "actionName" . "}",
                $this->apiClient->getSerializer()->toPathValue($action_name),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/{storeId}/optimisations/bychannel/{channelId}/{actionName}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\BeezUPCommonErrorResponseMessage', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation optimiseByProduct
     *
     * Optimise products
     *
     * @param string $store_id Your store identifier (required)
     * @param string $product_id The product identifier concerned by this optimisation (required)
     * @param string $action_name  (required)
     * @param string[] $request The channel identifier list concerned by this optimisation (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function optimiseByProduct($store_id, $product_id, $action_name, $request = null)
    {
        list($response) = $this->optimiseByProductWithHttpInfo($store_id, $product_id, $action_name, $request);
        return $response;
    }

    /**
     * Operation optimiseByProductWithHttpInfo
     *
     * Optimise products
     *
     * @param string $store_id Your store identifier (required)
     * @param string $product_id The product identifier concerned by this optimisation (required)
     * @param string $action_name  (required)
     * @param string[] $request The channel identifier list concerned by this optimisation (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function optimiseByProductWithHttpInfo($store_id, $product_id, $action_name, $request = null)
    {
        // verify the required parameter 'store_id' is set
        if ($store_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $store_id when calling optimiseByProduct');
        }
        // verify the required parameter 'product_id' is set
        if ($product_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $product_id when calling optimiseByProduct');
        }
        // verify the required parameter 'action_name' is set
        if ($action_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $action_name when calling optimiseByProduct');
        }
        // parse inputs
        $resourcePath = "/{storeId}/optimisations/byproduct/{productId}/{actionName}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($store_id !== null) {
            $resourcePath = str_replace(
                "{" . "storeId" . "}",
                $this->apiClient->getSerializer()->toPathValue($store_id),
                $resourcePath
            );
        }
        // path params
        if ($product_id !== null) {
            $resourcePath = str_replace(
                "{" . "productId" . "}",
                $this->apiClient->getSerializer()->toPathValue($product_id),
                $resourcePath
            );
        }
        // path params
        if ($action_name !== null) {
            $resourcePath = str_replace(
                "{" . "actionName" . "}",
                $this->apiClient->getSerializer()->toPathValue($action_name),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($request)) {
            $_tempBody = $request;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/{storeId}/optimisations/byproduct/{productId}/{actionName}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\BeezUPCommonErrorResponseMessage', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
