<?php
/**
 * MarketplacesChannelCatalogsPublicationsApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Marketplaces - Channel catalogs
 *
 * This API allows you to manage your channel catalogs\\' marketplace settings and fetch your account\\'s catalog publication history
 *
 * OpenAPI spec version: 2.0
 * Contact: support@beezup.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * MarketplacesChannelCatalogsPublicationsApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MarketplacesChannelCatalogsPublicationsApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return MarketplacesChannelCatalogsPublicationsApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation getPublications
     *
     * Fetch the publication history for an account, sorted by descending start date
     *
     * @param string $marketplace_technical_code Marketplace Technical Code to query (required) (required)
     * @param int $account_id Account Id to query (required) (required)
     * @param string $channel_catalog_id Channel Catalog Id by which to filter (optional) (optional)
     * @param int $count Amount of entries to fetch (optional, default set to 10) (optional, default to 10)
     * @param string[] $publication_types Publication types by which to filter (optional) (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\AccountPublications
     */
    public function getPublications($marketplace_technical_code, $account_id, $channel_catalog_id = null, $count = null, $publication_types = null)
    {
        list($response) = $this->getPublicationsWithHttpInfo($marketplace_technical_code, $account_id, $channel_catalog_id, $count, $publication_types);
        return $response;
    }

    /**
     * Operation getPublicationsWithHttpInfo
     *
     * Fetch the publication history for an account, sorted by descending start date
     *
     * @param string $marketplace_technical_code Marketplace Technical Code to query (required) (required)
     * @param int $account_id Account Id to query (required) (required)
     * @param string $channel_catalog_id Channel Catalog Id by which to filter (optional) (optional)
     * @param int $count Amount of entries to fetch (optional, default set to 10) (optional, default to 10)
     * @param string[] $publication_types Publication types by which to filter (optional) (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\AccountPublications, HTTP status code, HTTP response headers (array of strings)
     */
    public function getPublicationsWithHttpInfo($marketplace_technical_code, $account_id, $channel_catalog_id = null, $count = null, $publication_types = null)
    {
        // verify the required parameter 'marketplace_technical_code' is set
        if ($marketplace_technical_code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $marketplace_technical_code when calling getPublications');
        }
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling getPublications');
        }
        if (!is_null($count) && ($count > 100)) {
            throw new \InvalidArgumentException('invalid value for "$count" when calling MarketplacesChannelCatalogsPublicationsApi.getPublications, must be smaller than or equal to 100.');
        }
        if (!is_null($count) && ($count < 10)) {
            throw new \InvalidArgumentException('invalid value for "$count" when calling MarketplacesChannelCatalogsPublicationsApi.getPublications, must be bigger than or equal to 10.');
        }

        // parse inputs
        $resourcePath = "/publications/{marketplaceTechnicalCode}/{accountId}/history";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($channel_catalog_id !== null) {
            $queryParams['channelCatalogId'] = $this->apiClient->getSerializer()->toQueryValue($channel_catalog_id);
        }
        // query params
        if ($count !== null) {
            $queryParams['count'] = $this->apiClient->getSerializer()->toQueryValue($count);
        }
        // query params
        if (is_array($publication_types)) {
            $publication_types = $this->apiClient->getSerializer()->serializeCollection($publication_types, 'csv', true);
        }
        if ($publication_types !== null) {
            $queryParams['publicationTypes'] = $this->apiClient->getSerializer()->toQueryValue($publication_types);
        }
        // path params
        if ($marketplace_technical_code !== null) {
            $resourcePath = str_replace(
                "{" . "marketplaceTechnicalCode" . "}",
                $this->apiClient->getSerializer()->toPathValue($marketplace_technical_code),
                $resourcePath
            );
        }
        // path params
        if ($account_id !== null) {
            $resourcePath = str_replace(
                "{" . "accountId" . "}",
                $this->apiClient->getSerializer()->toPathValue($account_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Ocp-Apim-Subscription-Key');
        if (strlen($apiKey) !== 0) {
            $headerParams['Ocp-Apim-Subscription-Key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\AccountPublications',
                '/publications/{marketplaceTechnicalCode}/{accountId}/history'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\AccountPublications', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\AccountPublications', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\BeezUPCommonErrorResponseMessage', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
